@import '../../../assets/variables'

div:first-child
    background-color: white 

ul
    margin: 0
    display: block

li
    list-style: none
    display: inline
    margin-right: 1rem

.grid
    grid-template-columns: 40% 60%
    padding: 5rem
        bottom: 1rem
    font-size: 0.9rem
    color: dimgrey
    div:child-last
        align-self: end

.icon
    font:
        family: $icon
        size: 30px
    line-height: 30px
    display: inline-block
    margin-top: 0.5rem

.icon::before
    display: inline

.icon-american_express::before
    content: "\41"

.icon-apple_pay::before
    content: "\e90b"

.icon-diners_club::before
    content: "\63"

.icon-discover::before
    content: "\44"

.icon-google_pay::before
    content: "\e911"

.icon-jcb::before
    content: "\4a"

.icon-mastercard::before
    content: "\4d"

.icon-paypal::before
    content: "\50"

.icon-shopify_pay::before
    content: "\e910"

.icon-visa::before
    content: "\56"

#copyright
    white-space: nowrap

#payment-methods::before
    justify-self: end

@media (max-width: $large)
    *
        box-sizing: border-box
    .container
        padding-left: 5rem
        padding-right: 5rem
        margin-left: 0
        margin-right: 0
        min-width: 100%
    .grid
        grid-template-columns: auto minmax(0, 80%)
        justify-content: space-evenly

@media (max-width: $medium)
    .container
        padding-left: 2rem
        padding-right: 2rem
    .grid
        grid-template-columns: 100%
        grid-template-rows: repeat(2, auto)
        justify-items: center
    .text-right
        text-align: center
        padding-left: 0

