<div>
    <div class="container grid text-regular">
        <div id="copyright">
            &copy; 2020 Practical Parts LLC
        </div>
        <div id="payment-methods">
            <ul class="text-right">
                <li>
                    <span class="icon icon-american_express"></span>
                </li>
                <li>
                    <span class="icon icon-apple_pay"></span>
                </li>
                <li>
                    <span class="icon icon-diners_club"></span>
                </li>
                <li>
                    <span class="icon icon-discover"></span>
                </li>
                <li>
                    <span class="icon icon-google_pay"></span>
                </li>
                <li>
                    <span class="icon icon-jcb"></span>
                </li>
                <li>
                    <span class="icon icon-mastercard"></span>
                </li>
                <li>
                    <span class="icon icon-paypal"></span>
                </li>
                <li>
                    <span class="icon icon-shopify_pay"></span>
                </li>
                <li>
                    <span class="icon icon-visa"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
