@import '../../../assets/variables'

div:first-child
  background-color: white

img
  height: 8rem

.grid
  grid-template-columns: 30% 1fr
  column-gap: 5rem
  padding: 2.25rem
  justify-content: end
  
.grid-small
  padding: 0
  column-gap: 0
  grid-template-columns: minmax(0, 60%) 10rem
  justify-self: end
  justify-items: end

.cart-btn
  width: 100px
  height: 40px
  background-color: $color-background
  font:
    family: $text-regular
    size: 1.25rem
  color: $color-dark-accent
  outline: 0
  border: none
    radius: 5px

.cart-btn:hover
  background-color: #cdd3e5
  cursor: pointer

.fa-shopping-cart
  font-size: 27px
  color: $color-dark-accent
  vertical-align: middle

#account-options
  align-self: end


@media (max-width: $large)
  .container
    padding-left: 5rem
    padding-right: 5rem
  .grid
    padding-left: 0
    padding-right: 0
    justify-content: center
    grid-template-columns: 50% 50%
    column-gap: 5rem
  .grid-small
    column-gap: 0
    grid-template-columns: minmax(0, 60%) 10rem

@media (max-width: $medium)
  .grid
    grid-template-columns: 100%
    grid-template-rows: 100%
    justify-items: center
  .grid-small, #account-options
    display: none

@media (max-width: 480px)
  app-navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 3
  #header
    padding-top: calc(2.5rem + 52.8px)  // header height + current padding 
    
  


