<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div id="section-header">
    <div class="site-header" role="banner">
        <div class="wrapper">
            <div class="container">
                <!--logo header-->
                <div class="item left-half">
                  <a [routerLink]="['/']">
                    <img src="assets/img/logo.png">
                  </a>
                </div>
                <div class="item right-half">
                    <p id="account-options"><a>Sign in</a> or <a>Create an Account</a></p>
                    <div class="box">
                        <app-search-bar></app-search-bar>
                        <button class="cart-btn">
                            <i class="fa fa-shopping-cart"></i>
                            Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-navbar></app-navbar>

