
*
  box-sizing: border-box

div
  display: flex

img
  display: block
  height: 8em

#section-header
  min-width: 769px

#account-options
  flex: 2
  float: right
  font:
    family: 'Open Sans', sans-serif
    weight: regular
    size: 1em
  color: #191216
  a
    color: #4D5A97
    cursor: pointer
  a:hover
    color: #3d4776
    text-decoration: underline

.site-header
  width: 100%

.wrapper
  margin: auto
  height: 75%
  width: 90%
  display: flex
  justify-content: center

.container
  display: flex
  width: 100%
  margin-bottom: 15px

.item
  display: flex
  flex-direction: column
  justify-content: center
  
.left-half
  flex: 1
  padding: 1rem
    left: 10%
  align-self: flex-start

.right-half
  flex: 1
  padding: 1rem
    right: 10%
  text-align: right
  align-self: flex-end

.box
  display: flex
  flex-direction: row
  justify-content: flex-end

app-search-bar
  flex: none

.cart-btn
  flex: none
  width: 100px
  height: 40px
  background-color: #eef0f6
  font:
    family: 'Open Sans', sans-serif
    weight: regular
    size: 1.25em
  color: #003366
  outline: 0
  border: none
    radius: 5px
  padding: 0.5rem
  margin-left: 50px

.cart-btn:hover
  background-color: #cdd3e5
  cursor: pointer

.fa-shopping-cart
  font:
    size: 27px
  color: #003366


@media only screen and (max-width:600px)
  .container
    flex-wrap: wrap
  .item:first-child
    flex-basis: 100%
  .right-half
    display: none
  .cart-btn
    display: none
