<div>
    <div class="container">
        <div id="header" class="grid" role="banner">
            <div>
                <a routerLink="/">
                <img src="assets/img/logo.png">
                </a>
            </div>
            <div class="text-right">
                <p id="account-options"><a>Sign in</a> or <a>Create an Account</a></p>
                <div class="grid grid-small">
                    <app-search-bar></app-search-bar>
                    <button class="btn-light-accent cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        Cart
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>

<app-navbar></app-navbar>

