
*
  box-sizing: border-box

div
  display: flex

img
  display: block
  width: 65%
  height: auto

app-navbar
  display: block

#section-header
  min-width: 769px

.site-header
  width: 100%

.wrapper
  margin: auto
  height: 75%
  width: 90%
  display: flex
  justify-content: center

.container
  display: flex
  width: 100%
  margin-bottom: 15px

.item
  display: flex
  flex-direction: column
  justify-content: center
  
.left-half
  flex: 1
  padding: 1rem
    left: 10%
  align-self: flex-start

.right-half
  flex: 1
  padding: 1rem
    right: 10%
  text-align: right
  align-self: flex-end

@media only screen and (max-width:600px)
  .container
    flex-wrap: wrap
  .item:first-child
    flex-basis: 100%
