<div *ngIf="contactInfo" class="container">
    <h1>Contact Us</h1>
    <table>
        <thead>
            <tr>
                <th colspan="2">Sales, Support, and General Inquiries:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    {{ contactInfo[0] }} <!-- may have to change to 'contact@practical-parts.com' -->
                </td>
            </tr>
            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    {{ contactInfo[1] }}
                </td>
            </tr>
            <tr *ngIf="hoursAvailable">
                <td colspan="2">
                    {{ hoursAvailable }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
