<div class="container">
  <!--shows when screen size is smaller-->
<div class="box">
  <button class="menu-btn" [ngClass]="{'change': condition}" (click)="showMenu()">
    <span class="hamburger">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </span>
    <span class="button-text">Menu</span>
  </button>
  <button class="cart-btn">
    <i class="fa fa-shopping-cart"></i>
  </button>
</div>
  <!--navbar-->
  <ul [ngClass]="{'show-menu': condition}">
    <li><app-search-bar></app-search-bar></li>
    <li><a (click)="showMenu()" [routerLink]="['/']">Home</a></li>
    <li><a (click)="showMenu()" [routerLink]="['/products']">Our Products</a></li>
    <li><a (click)="showMenu()" [routerLink]="['/about']">About Us</a></li>
    <li><a (click)="showMenu()" [routerLink]="['/contact']">Contact Us</a></li>
    <li class="hide"><a (click)="showMenu()" [routerLink]="['/sign_in']">Sign In</a></li>
    <li class="hide"><a (click)="showMenu()" [routerLink]="['/create_account']">Create Account</a></li>
  </ul>
</div>
