<div class="container">
  <!--shows when screen size is smaller-->
  <button [ngClass]="{'change': condition}" (click)="showMenu()">
    <span class="hamburger">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </span>
    <span class="button-text">Menu</span>
  </button>
  <!--navbar-->
  <ul [ngClass]="{'show-menu': condition}">
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/products']">Our Products</a></li>
    <li><a [routerLink]="['/about']">About Us</a></li>
    <li><a [routerLink]="['/contact']">Contact Us</a></li>
  </ul>
</div>
