@import '../../../../assets/variables'
  
app-search-bar
  display: none

ul 
  list-style-type: none
  margin: 0 auto
  padding: 0
  overflow: auto
  background-color: $color-main
  text-align: center

li
  display: inline
  a
    display: inline-block
    padding: 14px 16px
    text:
      align: center
      decoration: none
    color: $color-light-accent
    font:
      family: 'Open Sans', sans-serif
      weight: regular
      size: 1.5em
  a:hover
    background-color: $color-main-lighter
    color: $color-light-accent-darker

.menu-btn
  border: none
  display: none
  width: 170px
  margin:
    left: 10px
    right: 10px

.menu-btn:focus
  outline: 0

.button-text
  font:
    family: 'Open Sans', sans-serif
    weight: regular
    size: 2.5em
  position: relative
  top: -20px
  line-height: 0
  color: $color-light-accent

.hamburger
  padding: 14px 16px
  width: 35px

.bar1, .bar2, .bar3
  width: 35px
  height: 5px
  background-color: $color-light-accent
  margin: 6px 0
  transition: 0.4s

.change .bar1
  transform: rotate(-45deg) translate(-9px, 6px)

.change .bar2
  opacity: 0

.change .bar3
  transform: rotate(45deg) translate(-9px, -8px)

.hide, .cart-btn
  display: none

//make navbar responsive
@media only screen and (max-width:600px)
  ul
    position: static
    display: none //hide menu
    overflow-x: hidden
    overflow-y: auto
    width: 100%
  li
    margin-bottom: 10px
  ul li, li a
    width: 100%
  app-search-bar
    display: block
  .container
    background-color: $color-main
    text-align: center
    align-items: center
    position: relative
    z-index: 1
  .menu-btn
    display: block
    color: $color-light-accent
    align-self: flex-start
    background-color: transparent
    cursor: pointer
  .show-menu //show menu when hamburger icon is clicked on
    display: inline-block
    border-top: 1px $color-light-accent solid
  .hide
    display: block
  .box
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: $color-main
  .cart-btn
    display: block
    align-self: flex-end
    margin: 0.5em
    cursor: pointer
    outline: 0
    border: none
    background: none
    margin-bottom: 10px
  .fa-shopping-cart
    font:
      size: 48px
    color: $color-light-accent
    
  
    
    

