<div class="container">
    <div class="about">
        <section id="introduction">
            <h1>The Team Behind Practical Parts</h1>
            <p class="text-larger">
                Practical Parts LLC was founded in 2017 by two alumni from FRC team 2169, KING TeC with the purpose
                of providing unique products that are easy and cost effective to implement for all levels of FRC teams.
                While working on KING TeC we had many “I wish we could buy this off the shelf” moments. We are here to
                make those ideas a reality.
            </p>
            <h1 class="text-light-italic">Founders</h1>
            <p>
                Liam and Adam both served as Heads of Mechanical on KING TeC. Together, they led design and construction
                of world class robots and forged the partnership that would later become Practical Parts. Liam and Adam
                are pursuing degrees in mechanical engineering at North Dakota State University.
            </p>
        </section>
    </div>
</div>
<div class="about">
    <section class="about-adam grid">
        <h2 data-aos="fade" data-aos-once="true" data-aos-offset="300">Adam Fowler</h2>
        <img data-aos="fade" data-aos-once="true"  data-aos-offset="300" data-aos-delay="300" data-aos-transition="3000" id="adam-img" src="../../../assets/img/adam.png">
        <p data-aos="fade-right" data-aos-once="true"  data-aos-offset="300" data-aos-delay="200" data-aos-transition="3000">
            After graduating from Prior Lake High School, Adam went to work at Maverick Drone Systems where he managed
            UAV service operations. Prior to founding Practical Parts, Adam founded Notely Apps which produced the app
            <a class="light" href="https://play.google.com/store/apps/details?id=com.notely.trumpetfingerings&hl=en_US" target="_blank">"Trumpet Fingerings"</a>
            that has been downloaded 30,000 times. Adam transitioned to an advisory role at Notely Apps when Practical Parts
            was launched. Adam also serves the KING TeC Alumni Association as President and
            Chairman of the Board.
        </p>
    </section>
    <section class="about-liam grid">
        <h2 data-aos="fade" data-aos-once="true"  data-aos-offset="300">Liam Straub</h2>
        <img data-aos="fade" data-aos-once="true"  data-aos-offset="300" data-aos-delay="300" data-aos-transition="3000" id="liam-img" src="../../../assets/img/liam.jpg">
        <p data-aos="fade-left" data-aos-once="true" data-aos-offset="300" data-aos-delay="200" data-aos-transition="3000">
            Liam Straub started off his FRC career on team 4239 Willmar WARPSPEED his freshman year of high school. This was
            a fairly small and low funded team that faced many challenges throughout the season. Liam worked hard to produce
            the best quality robot he could for the 2014 FRC season. Upon the completion of his freshman year, Liam moved and
            joined FRC 2169 KING TeC, a much better funded team. This transition was difficult for Liam, but he quickly made new
            friends on KING TeC. Liam applied what he learned on Wilmar WARPSPEED to his time on KING TeC, becoming the team's
            head of mechanical alongside Adam Fowler during the 2017 season. Liam's unique experience on both well funded and
            cash strapped teams led him to co-found Practical Parts LLC to produce cost effective and practically designed parts
            for all levels of FRC teams.
        </p>
    </section>
</div>
<div class="container">
    <div class="about">
        <section id="sponsors">
            <h2>Sponsors</h2>
            <div class="grid">
                <ng-container *ngFor="let sponsor of sponsors">
                    <a href="{{sponsor.url}}" target="_blank">
                        <img id="fileName" src="{{baseUrl + sponsor.fileName}}">
                    </a>
                </ng-container>
            </div>
            <p class="text-larger text-center">
                Want to sponsor Practical Parts? <a routerLink="/contact">Contact Us!</a>
            </p>
        </section>
    </div>
</div>

