<div class="grid outer-grid">
    <div id="filter-pane">
        <h1 class="text-light-italic">Filter Products</h1>
        <ul class="text-regular">
            <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
                <li>
                    <label for="newOnly">
                        New Only
                        <input type="checkbox" id="newOnly" formControlName="newOnly">
                        <span class="fake-checkbox"></span>
                    </label>
                </li>
                <li>
                    <label for="hasPicture">
                        Has Picture
                        <input type="checkbox" id="hasPicture" formControlName="hasPicture">
                        <span class="fake-checkbox"></span>
                    </label>
                </li>
                <li id="collections" #collections>
                    Collections
                    <ul>
                        <li *ngFor="let collection of collectionsl" #collections>
                            <input type="checkbox">
                            <span class="fake-checkbox"></span>
                            {{collection.id}}
                        </li>
                    </ul>
                </li>
                <li class="expandable" id="priceRange" (click)="expand()" [ngClass]="{'expanded': priceRangeOpen}" #priceRange>
                    Price Range
                </li>
                <div class="expandable-list" >
<!--                     <li *ngFor="let range of priceControls">1</li> -->
                </div>
                <button type="submit" class="btn-light-accent">Apply Filters</button>
            </form>
        </ul>
    </div>
    <div id="products-list">
        <div>
            <app-search-bar></app-search-bar>
            <button id="sort" class="btn-dark-accent">sort placeholder</button>
        </div>
        <app-loading *ngIf="isLoading | async"></app-loading>
        <div class="grid inner-grid">
            <app-card *ngFor="let product of products">{{ product.title }}</app-card>
        </div>
    </div>
</div>

