@import '../../../assets/variables'

/** PAGE LAYOUT **/

.outer-grid
    grid-template-columns: 300px 1fr
    grid-gap: 20px
    padding: 1rem
        left: 0
    #products-list div:first-child
        display: grid
        grid-template-columns: repeat(25, 1fr)
        app-search-bar
            grid-column-start: 1
            grid-column-end: 26
            grid-row-start: 1
        #sort
            align-self: center
            grid-column-start: 21
            grid-column-end: 26
            grid-row-start: 1
    div:nth-child(2)
        justify-self: stretch


.inner-grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 1rem

    app-card-header
        flex-grow: 1

    app-card-actions
        display: flex
        flex-grow: 1
        justify-content: center
        align-items: flex-end

    app-card-subtitle::ng-deep small
        span.price, span.sold-out-text
            font-size: large
        span.sold-out-text
            display: none

    .sold-out
        app-card-subtitle::ng-deep small
            span.price
                text-decoration: line-through
            span.sold-out-text
                display: inline
                color: red
                margin-left: 0.5rem

#filter-pane
    background-color: $color-main
    color: $color-light-accent
    @include box-shadow($soft-shadows)
    padding: 1rem 0
    border:
        radius: 0 4px 4px 0
    margin-top: 1rem
    margin-bottom: 1rem
    user-select: none
    h1.text-light-italic
        color: $color-light-accent
        padding-left: 1rem
    ul
        padding: 0
        text-align: center
        button
            margin-top: 1.5rem
        li
            display: block
            padding: 0.5rem 0.75rem 0.5rem 2.5rem
            list-style: none
            color: $color-light-accent
            font-size: 1.5rem
            text-align: left
            border-bottom: 1px solid $color-light-accent
            label
                display: block
                font-size: 1.5rem
                &:hover
                    cursor: pointer
            &:hover:not(#collections)
                background-color: $color-main-lighter


#collections, #priceRange + div
    &:not(#collections) ul
        padding: 0.5rem 0.75rem 0.5rem 2.5rem
    li
        border: 0 !important
        label
            position: relative
            cursor: pointer
            .fake-checkbox
                position: absolute
                left: -1rem
                top: -3px
            .fake-radio
                position: absolute
                left: -2rem
                top: 0.5rem

#priceRange + div label, #collections label
    font-size: 1.25rem !important


/** EXPANDABLE LISTS IN FILTER PANE **/
.expandable
    transition: border-color 0.1s linear
    &:hover
        cursor: pointer
    &::after
        content: ""
        width: 10px
        height: 10px
        border: 3px solid $color-light-accent
            left: 0
            top: 0
        float: right
        transform: rotate(-45deg) translate(-22px, calc(50% - 10px))
        transition: transform 0.1s linear
    &.expanded
        border-color: transparent !important
    &.expanded::after
        transform: rotate(45deg) translate(0, 1rem)
    & + .expandable-list
        height: auto
        overflow: hidden
        color: $color-light-accent
        transition: height 0.5s ease-in-out
        li:not(:last-child)
            border: 0 !important

    
/** CUSTOM CHECKBOX **/
input[type="checkbox"]
    display: none
    & + .fake-checkbox
        width: 12px
        height: 12px
        border: 2px solid $color-light-accent
        float: right
        transform: translate(-12px, 12px)
        transition: background-color linear 0.1s
    &:checked + .fake-checkbox
        background-color: $color-light-accent
        &::after
            content: ""
            width: 5px
            height: 9px
            border: 3px solid $color-main
                top: 0
                left: 0
            transform: rotate(45deg)
            position: absolute
            left: 2px
            bottom: 1px


/** CUSTOM RADIO **/
input[type="radio"]
    display: none
    & + .fake-radio
        width: 12px
        height: 12px
        border: 2px solid $color-light-accent
            radius: 50%
    &:checked + .fake-radio::after
        content: ""
        width: 5px
        height: 5px
        border-radius: 50%
        position: absolute
        left: 3.5px
        bottom: 3px
        background-color: $color-light-accent

button[type="reset"]
    color: $color-light-accent
    font-weight: bold


/** 'SIMPLE' VERSION OF APP-SEARCH-BAR **/
app-search-bar::ng-deep
    margin: 1rem
    input, .square
        display: inline-block
        transition-duration: 0s
        width: 75%
        background-color: transparent
        font-size: 1.15rem
        color: $color-dark-accent
        border: 3px solid $color-dark-accent
            right: none
        padding: 1.25rem
    .reset-btn, .reset-btn:hover
        background-color: transparent
        border: 3px solid $color-dark-accent
            left: none
            radius: 0 4px 4px 0
        padding: 1.25rem
    .cancel, .cancel-btn-1::before, .magnifying-glass::before
        background-color: $color-dark-accent
    .magnifying-glass
        border: 3px solid $color-dark-accent
        top: 10px
        left: 8px
        &::before
            width: 3px
            height: 9px
            left: 11px
    .cancel-btn-1
        border-color: transparent
        &::before
            height: 20px
            top: -2px
            left: 7px
    .cancel-btn-2
        width: 3px
        top: 11px