@import '../../../assets/variables'

div
    display: flex
    flex-direction: column
    background-color: white
    min-height: 100%
    @include box-shadow($card-shadows)
    position: relative
    &::ng-deep
        [cardImage]
            width: 100%
    