<div [hidden]="router.url !== '/'">
    <!-- any home page content should go here -->
    <div class="container welcome">
        <h1 class="text-center">Welcome to Practical Parts</h1>
        <h2 class="text-center">
            <small>Providing easy and unique (cost-effective)
            products for <span>all levels of FRC teams.</span></small>
        </h2>
    </div>
    <app-carousel [slides]="slides"></app-carousel>
    <div class="container extra-info">
        <div class="container-small">
            <section id="who">
                <h1 class="text-light-italic">Who We Are</h1>
                <p>
                    Practical Parts is dedicated to making robotics parts and tools
                    for high school robotics teams. Our goal is to ensure you get the
                    quality products you should expect with a price you can afford.
                    <i>For more information about us, <a routerLink='/about'>click here</a>.</i>
                </p>
            </section>
            <section id="new">
                <h1 class="text-light-italic">What's New</h1>
                <p>
                    We are always working on new products every day. Look here for updated information
                    on any new products we may have.
                </p>
                <div class="text-center show-new-btn">
                    <button (click)="getNewProducts()" class="btn-outline-dark-accent">
                        {{ showNew ? "Hide" : "Show New Products" }}
                    </button>
                    <p *ngIf="isLoading.value===false && showNew && !newProducts.length">No new products found today.</p>
                </div>
                <app-loading *ngIf="isLoading | async"></app-loading>
                <div *ngIf="newProducts" class="grid" [ngClass]="{'shown': showNew}">
                    <ng-container *ngFor="let product of newProducts.reverse()">
                        <app-card class="product">
                            <app-card-header>
                                <app-card-title>{{ product.title }}</app-card-title>
                                <app-card-subtitle>{{ product.createdAt }}</app-card-subtitle>
                            </app-card-header>
                            <ng-container *ngIf="product.images[0]; else noImage">
                                <img src="{{product.images[0].src}}" cardImage>
                            </ng-container>
                            <ng-template #noImage>
                                <app-generic-image cardImage>This product has no image.</app-generic-image>
                            </ng-template>
                            <app-card-body [innerHTML]="product.description">
                                <p *ngIf="!product.description">This product has no description.</p>
                            </app-card-body>
                            <app-card-actions>
                                <a>More Information</a>
                            </app-card-actions>
                        </app-card>
                    </ng-container>
                </div>
            </section>
        </div>
    </div>
</div>
    
<router-outlet></router-outlet>