@import '../../../assets/variables'
    
.welcome
    h2
        line-height: 2.25rem
        span
            color: $color-dark-accent
            font-weight: bolder

section
    text-align: justify