/* variables */

// sizes
  
$small: 576px
$medium: 768px
$large: 992px
$extra-large: 1200px

// fonts

$main-header: 'IBM Plex Serif', serif
$semi-bold: 600
$light-italic: 300i

$subheader: 'Montserrat', sans-serif

$text-regular: 'Open Sans', sans-serif

// colors

$color-main: #191216
$color-main-lighter: #2c2027

$color-light-accent: #e8d3d8
$color-light-accent-darker: #d2adb4

$color-background: #eef0f6

$color-dark-accent: #003366
$color-dark-accent-lightest: #4d5a97
$color-dark-accent-lighter: #3d4776
$color-dark-accent-darker: #00284d