/* variables */

// sizes
  
$small: 576px
$medium: 768px
$large: 992px
$extra-large: 1200px

// fonts

$main-header: 'IBM Plex Serif', serif
$semi-bold: 600
$light-italic: 300

$subheader: 'Montserrat', sans-serif

$text-regular: 'Open Sans', sans-serif

$icon: 'Icons Font'

// colors

$color-main: #191216
$color-main-lighter: #2c2027

$color-light-accent: #e8d3d8
$color-light-accent-darker: #d2adb4

$color-background: #eef0f6

$color-dark-accent: #003366
$color-dark-accent-lightest: #4d5a97
$color-dark-accent-lighter: #3d4776
$color-dark-accent-darker: #00284d

// mix-ins

@mixin box-shadow($params)
  box-shadow: $params

// other

$soft-shadow1: 0 1px 2px rgba(0,0,0,0.07)
$soft-shadow2: 0 2px 4px rgba(0,0,0,0.07)
$soft-shadow3: 0 4px 8px rgba(0,0,0,0.07)

$soft-shadows: $soft-shadow1, $soft-shadow2, $soft-shadow3

$card-shadow1: 0 0.4px 0.8px rgba(0,0,0,0.07)
$card-shadow2: 0 0.8px 1.6px rgba(0,0,0,0.07)
$card-shadow3: 0 1.6px 3.2px rgba(0,0,0,0.07)
$card-shadow4: 0 3.2px 6.4px rgba(0,0,0,0.07)

$card-shadows: $card-shadow1, $card-shadow2, $card-shadow3, $card-shadow4
