/* You can add global styles to this file, and also import other style files */

/* fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300i,600|Montserrat|Open+Sans&display=swap')

@font-face
  font-family: "Icons Font"
  src: url("assets/fonts/icons.woff") format('woff')


/* variables */
@import './assets/variables'

@import '~aos/dist/aos.css'

html, body
  overflow-x: hidden

body
  margin: 0

h1
  font-family: $main-header
  font-weight: $semi-bold
  color: $color-dark-accent
  text-align: left
  &.text-light-italic
    font-weight: $light-italic
    font-style: italic
    color: $color-dark-accent-lighter

h2, th
  font-family: $subheader
  text-align: center

p, td, .text-regular
  font-family: $text-regular
  color: $color-main
  line-height: 1.6

a
  color: $color-dark-accent-lightest
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: underline

.background
  background-color: $color-background

.container
  padding-right: 15rem
  padding-left: 15rem
  margin-right: auto
  margin-left: auto

.grid
  display: grid

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

@media (max-width: $small)
  .container
    padding-right: 2rem
    padding-left: 2rem

@media (min-width: $small)
  .container
    max-width: 100%
    padding-right: 4rem
    padding-left: 4rem


@media (min-width: $medium)
  .container
    max-width: 540px
    padding-right: 8rem
    padding-left: 8rem


@media (min-width: $large)
  .container
    max-width: 960px

@media (min-width: $extra-large)
  .container
    max-width: 1140px



